
body { 
    font-family: 'Zen Kurenaido', sans-serif;
    font-size:21px;
}

/*NAVIGATION BAR*/ 
.nav-img-back {
    background-image: url("header\ pics/kalen-kemp-ViYg9O8izyo-unsplash.jpg");
    background-size:100%;
    background-position: center;
    height:100px;
    width:100%;
    
}
.nav-bar {
    display:flex;
}
.nav-bar > div {
    padding:10px;
    height:35px;
    transition: 0.5s;
}
.nav-bar > div:hover {
    background-color: rgb(196, 250, 115);
}
.nav-bar > div > a > img {
    height:40px;
}


/*HEADER*/
.header {
    display:grid;
    grid-template-areas:
    'lefthead midhead midhead midhead righthead'                
    ;
    grid-gap:10px;   
    margin-top:70px;
}
.header > div {
    padding:40px;
}

.header-item1 { grid-area:lefthead;}
.header-item2 { grid-area:midhead;}
.header-item3 { grid-area:righthead;}


.header-img1 {
    height:600px;
    width:400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    transition:0.5s;
    
}
.header-img1:hover {
    background-size:140%;

}


.header-item2 > button > a {
    text-decoration: none;  
}
.button-text1 {
    color:black;
    font-family: 'Zen Kurenaido', sans-serif;
}
.header-item2 > button {
    background-color: inherit;
    height:50px;
    width:115px;
    transition:0.5s;
    border:none;  
}
.header-item2 > button:hover {
    background-color:rgb(196, 250, 115);
}
.header-img3 {
    height:400px;
    width:700px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    transition:0.5s;
}
.header-img3:hover {
    background-size: 140%;
}


.header-icon1 > img {
    height:200px;

}
.header-icon2 > img {
    height:200px;
}

.main {
    display:grid;
    grid-template-areas:
    'top top top' 
    'botleft botmid botright' 
    'bot bot bot' 
             
    ;
}

.main-item1 { grid-area:top;}
.main-item2 { grid-area:botleft;}
.main-item3 { grid-area:botmid;}
.main-item4 { grid-area:botright;}
.main-item5 { grid-area:bot;}



.main-pic1 {
    height:300px;
    width:100%;
    background-size: 100%;
    background-position:center;
    transition:0.5s;
    
}
.main-pic1:hover {
    height:500px;
}

.main-pic2 {
    height:500px;
    background-size: 100%;
    background-position:center;
    
}
.main-pic3 {
    height:500px;
    background-size: 100%;
    background-position:center;
    
}
.main-pic4 {
    height:500px;
    background-size: 100%;
    background-position:center;
    
}
.main-item5 {
    padding:30px;
}