@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montagu+Slab:wght@100;300;600&family=Zen+Kurenaido&display=swap');

/*cursos blink*/
@keyframes cursor-blink {
    0% {
        opacity: 0;
      }
  }
/*cursos blink*/

/*body*/
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/*body*/

/*nav bar*/
nav ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    opacity: 0.6;
    transition: 0.6s;
    
}
nav ul:hover
{
    opacity:1;
    padding-top: 5px;
    
}
  
nav ul li 
{
    float: left;
}
  
nav ul li a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.5s;
    
}
  
nav ul li a:hover
{
    transform: scale(1.1);
}
  
/*nav bar*/


section
{
    padding:100px;
    min-height: 100vh;         /*every section has 100% height this way*/
}

/*banner*/
.banner 
{
    position:relative;
    width: 100%;
    min-height: 100vh;
}
.banner .imgSidebar
{
    position:absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 100%;
}
.banner .imgSidebar img
{
    position:absolute;
    top: 0;
    /*Setting top: 0; left: 0; bottom: 0; right: 0; gives the browser a new bounding box for the block.
     At this point the block will fill all available space in its offset parent, which is the body or position: relative; container*/
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.banner .contentBx 
{
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 500px); /*The rest of the width space will be filled*/
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.logoText
{
    position: absolute;
    top: 40px;
    left: 10px;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.banner .contentBx h4 
{
    font-size: 1.5em;
    color: #333;
    font-weight: 300;
}

.banner .contentBx h2 
{
    font-size: 3em;
    color: #333;
    line-height: 1em;
}

p
{
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: 300;
}

/*banner*/

/*button*/
.btn 
{
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding: 10px 30px;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
    transition: 0.5s;
}
.btn:hover 
{
    background-color: #333;
}
/*button*/

/*social media links*/
.sci
{
    position: absolute;
    left: 1px;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sci li a {
    text-decoration: none;
}
.sci li a span {
    font-weight: 900;
    font-size: 30px;
    color: black;
}

.sci li
{
    margin-right: 10px;
    list-style: none;
}

.sci li img 
{
    transform: scale(0.5);
    opacity: 0.7;
    transition: 0.5s;
}

.sci li img:hover
{
    transform: scale(0.7);
    opacity: 1;
}



/*social media links*/

/*about*/

.about 
{
    background-color:rgb(22, 22, 22);
}
.about .content
{
    display:flex;
    justify-content: space-evenly;  
}
.title 
{
    width: 100%;
    text-align: center;

}
.title h2 
{
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 1.8em;
    font-weight: 700;
    letter-spacing: 1px;
}

.title p
{
    max-width: 700px;
    display: inline-block;
    color: #fff;
}

.title h2::before
{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    width: 60px;
    height: 4px;
    background-color: rgb(255, 255, 255);
}


.imgBx
{   
    height: 200px;
    width: 200px;
    border: 2px solid #fff;
    
}
.imgBx img 
{
    height:100%;
    width:100%; 
}

.Details h1 
{
    font-size: 1.5em;
    font-weight: 400;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
}


.Details li
{
    list-style-type: none;
    font-size: 1.5em;
    font-weight: 400;
    padding: 20px;
    color: #fff;
}

.content 
{
    padding-top: 100px;
}

.Details li span 
{
    font-size: 1.7em;
    font-weight: 500;
    color: rgb(255, 255, 255);
    letter-spacing: 3px;
}


.cursorbl
{
    height:20px;
    width:5px;
    background-color:#fff;
    display: inline-block;
    animation: cursor-blink 1.5s steps(2) infinite;   
}
/*about*/

/*skills*/
.skills 
{
    display: grid;
    height: 100%;
    place-items: center;
    background-color: rgb(22, 22, 22);
    background-size: 100%;
    background-position: center;

}

.skills-bar 
{
    width: 600px;
    background: #fff;
    border-radius: 10px;
    padding: 25px 30px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}

.skills-bar .bar 
{
    margin: 20px 0;
}

.skills-bar .bar:first-child
{
    margin-top: 0px;
}
.skills-bar .bar .info
{
    margin-bottom: 5px;
}
.skills-bar .bar .info span 
{
    font-size: 1.1em;
    font-weight: 500;
}

.skills-bar .bar .progress-line
{
    position: relative;
    height: 10px;
    width: 100%;
    background: #f0f0f0;  
    border-radius: 10px;
}
.bar .progress-line span 
{
    height: 100%;
    width: 80%;
    background: #333;
    position: absolute;
    border-radius: 10px;
}

.progress-line.html span
{
    width: 70%;
}
.progress-line.css span
{
    width: 40%;
}
.progress-line.cs span
{
    width: 30%;
}
.progress-line.ps span
{
    width: 80%;
}
.progress-line.bl span
{
    width: 30%;
}
.progress-line.il span
{
    width: 50%;
}
.progress-line.js span
{
    width: 30%;
}


.bar .progress-line span::before /*small black pointer*/
{
    position: absolute;
    content: "";
    right: 0;
    top: -10px;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
}
.bar .progress-line span::after /*background num*/
{
    position: absolute;
    right: 0;
    top: -24px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    background: #000;
    padding: 1px 8px;
    border-radius: 3px;
   
}

.progress-line.html span::after
{
    content:"70%";
}
.progress-line.css span::after
{
    content:"40%";
}
.progress-line.cs span::after
{
    content:"30%";
}
.progress-line.ps span::after
{
    content:"80%";
}
.progress-line.bl span::after
{
    content:"30%";
}
.progress-line.il span::after
{
    content:"50%";
}
.progress-line.js span::after
{
    content:"30%";
}

/*GALLERY*/

.landscape-gallery
{
    background-color: rgb(22, 22, 22);
}
.landscape-gallery img 
{
    vertical-align: middle;
}
  
  /* Position the image container (needed to position the left and right arrows) */
.landscape-gallery-container
{
    position: relative;
}
  
  /* Hide the images by default */
.mySlides 
{
    display: none;
}
  
  /* Add a pointer when hovering over the thumbnail images */
.cursor 
{
    cursor: pointer;
}
  
  /* Next & previous buttons */
.prev,
.next 
{
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}
  
  /* Position the "next button" to the right */
.next 
{
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
  /* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover 
{
    background-color: rgba(0, 0, 0, 0.8);
}
  
  /* Number text (1/3 etc) */
.numbertext 
{
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
  
  /* Container for image text */
.caption-container 
{
    text-align: center;
    background-color: rgb(22, 22, 22);
    padding: 2px 16px;
    color: white;
}
  
.landscape-gallery-row:after 
{
    content: "";
    display: table;
    clear: both;
}
  
  /* Six columns side by side */
.landscape-gallery-column 
{
    float: left;
    width: 16.66%;
}
  
  /* Add a transparency effect for thumnbail images */
.demo 
{
    opacity: 0.6;
}
  
.active,
.demo:hover 
{
    opacity: 1;
}

/*GALLERY*/




/*character gallery*/
.characters-gallery
{
    background-color: rgb(22, 22, 22);
}
.characters-gallery-column 
{
    float: left;
    width: 25%;
    padding: 10px;
}
  
/* Style the images inside the grid */
.characters-gallery-column img 
{
    opacity: 0.8;
    cursor: pointer;
}
  
.characters-gallery-column img:hover 
{
    opacity: 1;
}
  
/* Clear floats after the columns */
.characters-gallery-row:after 
{
    content: "";
    display: table;
    clear: both;
}
  
/* The expanding image container (positioning is needed to position the close button and the text) */
.characters-gallery-container 
{
    position: relative;
    display: none;
}
  
/* Expanding image text */
#imgtext 
{
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
}
  
/* Closable button inside the image */
.closebtn 
{
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}

/*character gallery*/

/*media*/


@media (max-width: 1500px)
{
    .characters-gallery-row
    {
        display: grid;
        grid-template-columns: auto auto auto;
       
    }
  

}

@media (max-width: 1040px)
{
    .characters-gallery-row
    {
        display: grid;
        grid-template-columns: auto auto;   
    }
    .characters-gallery
    {
        
        height: 200em;
    }
}
@media (max-width: 991px)
{
    nav ul li a
    {
        font-size: 30px;
    }
    nav ul:hover 
    {
        padding-top:0px;
    }
    nav ul li a 
    {
        display: flex;
        flex-direction: row;
    }
    nav ul li a:hover
    {
        transform: scale(1);
    }
    
    nav ul li
    {
        width: 100%;
        padding-top:20px;
        padding-bottom:20px;
        
    }
    nav ul
    {
        opacity: 1;
        position: relative;   
    }
    
    .banner .imgSidebar
    {
        display: none;
    }
    .banner .contentBx
    {
        width: 100%;
        padding: 40px;
    }

    
    .logoText {
        display: none; /*new*/
        position: absolute;
        top: 40px;
        left: 40px;
    }
    .sci
    {
        text-align: center;
    }
    section 
    {
        height: 55em;
        padding: 40px;
    }
    .about .content .textBx
    {
        min-width: 100%;
        width: 100%;
    }
    .about .content
    {
        flex-direction: column;
        margin-top: 0;
    }
    .about .content .imgBx
    {   
        margin-left: 0;
        transform: scale(0.6);
    }
    .skills-bar
    {
        width: 100%;
        
    }
    .landscape-gallery
    {
        padding: 0.1em;
       
    }
}
@media (max-width: 736px)
{
    .characters-gallery-row
    {
        display: grid;
        grid-template-columns: auto;   
    }
}
@media (max-width: 400px)
{
    .characters-gallery-column
    {
        width: auto;
        height: auto;
    }
    .characters-gallery-column img
    {
        width: 100%;
        height: 100%;
    }
}


/*media*/







