@keyframes pulsate
{
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
}
@keyframes numberani
{
    0% {opacity: 1; top: 490px;}  
    50% {opacity: 0.5; top: 480px;}
    100% {opacity: 0; top: 465px;}
}
@keyframes cursor-blink 
{
    0% {
      opacity: 0;
    }
}
.animation-number
{
    animation-name: numberani;
    animation-duration: 0.3s;
}
.animation
{
    animation-name: pulsate;
    animation-duration: 0.3s;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=VT323&display=swap');
body
{
    padding: 0;
    margin: 0;
    font-family: 'VT323', monospace;
    font-size: 1.6em;
    /*background-image: url("imgs/back2.jpg");*/
    background-image: url("imgs/background/1e759c_e882622b912c42c7853ccf329b40513e~mv2.gif");
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    color: white;
    
}
a
{
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: #fff;
    text-decoration: none;
}

/*clicker-section*/
#wholeClickerSection
{
   display: flex;
   gap: 50px;
    
}
#clickerBg
{
    height: 100vh;
    width: 25vw;
    background-color: rgba(150, 150, 150, 0.2);
}
#clicksImg
{
    height: 250px;
    opacity: 0.9;
    transition: 0.5s;
}
#clicksImg:hover
{
    transform: scale(1.1);
}
#clickerContent
{
    padding: 50px;
}
#clicker button
{
    border:none;
    font-family: 'VT323', monospace;
    font-size: 1.1em;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    background-color: rgba(0, 0, 0, 0);
}

#clicker
{
    z-index: 200;
}
#first-number img
{
    height: 30px;
    opacity: 1;
}
#first-number
{
    font-size: 1.5em;
    position: absolute;
    opacity: 0;
    top: 500px;
    left: 300px;
}
#second-number
{
    opacity: 0;
}

#save-click-reset-Buttons
{
    position: absolute;
    bottom: 200px;

}
/*clicker-section*/

/*upgrades-section*/
input
{
    text-align: center;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: white;
    width: auto;
    font-size: 1.5em;
}

#upgradesBg
{
    height: 100vh;
    width: 20vw;
    background-color: rgba(150, 150, 150, 0.2);
}

#upgradesContent
{
    padding: 50px;
}
#autoClicksImg
{
    height: 30px;
}
#upgradedCPUImg
{
    height: 30px;
}
#broughtPCImg
{
    height: 30px; 
}
#upgrades button
{
    background-color: rgba(255, 255, 255, 0.5);
}
/*updates-section*/

/*desktop-window*/

#desktopWindow
{
    width: 600px;
    height: 280px;
    background-image: url(imgs/browsers/Unbenannt1.jpg);
    background-size: cover;
    margin-top: 200px;
    opacity: 1;
    margin-left: 50px;
    margin-right: 100px;
}
#cursosBl::after
{
    content: "";
    width: 3px;
    height: 15px;
    background: black;
    display: inline-block;
    z-index: 100;
    animation: cursor-blink 1.5s steps(2) infinite;
    margin-left: 148px;
    margin-top: 148px; 
}

/*desktop-window*/

/*message*/
#message
{
    width: 500px;
    margin-left: 50px;
}
/*message*/
