@keyframes pulsate
{
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
}
@keyframes numberani
{
    0% {opacity: 1; top: 490px;}  
    50% {opacity: 0.5; top: 480px;}
    100% {opacity: 0; top: 465px;}
}
@keyframes cursor-blink 
{
    0% {
      opacity: 0;
    }
}
.animation-number
{
    animation-name: numberani;
    animation-duration: 0.3s;
}
.animation
{
    animation-name: pulsate;
    animation-duration: 0.3s;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=VT323&display=swap');
body
{
    padding: 0;
    margin: 0;
    font-family: 'VT323', monospace;
    font-size: 1.6em;
    /*background-image: url("imgs/back2.jpg");*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)) , url("imgs/background/sky-clouds-day.gif");
    background-size: 50%;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    color: white;
    font-size: 1.5vw;
    background-blend-mode: darken;
    
}
a
{
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: #fff;
    text-decoration: none;
}

/*clicker-section*/
#wholeClickerSection
{
    display: flex;
    
}
#clickerBg
{
    /*background-color: rgba(25, 25, 25);*/
    height: 100vh;
    width: 25vw;
    transition: 0.5s;
}
/*#clickerBg:hover
{
    background-color: rgba(150, 150, 150, 0.2);
}*/
#clicksAmount
{
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    font-size: 1.5em;
}
#surfsPerSecond
{
    font-size: 1em;
    width: 10vw;
    height: 5vh;
}
#clicksImg
{
    margin-bottom: 100px;
    width: 15vw;
    opacity: 1;
    transition: 0.5s;
}
#clicksImg:hover
{
    transform: scale(1.1);
}
#clickerContent
{
    padding: 30px;
}
button
{
    background-color: rgba(250, 250, 250, 0.3);
    border: 2px solid rgba(0, 0, 0, 0.3);
    height: 50px;
    width: 50px;
    padding: 2px;
}
#clicker button
{
    border:none;
    font-family: 'VT323', monospace;
    font-size: 1.1em;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    background-color: rgba(0, 0, 0, 0);
}

#clicker
{
    z-index: 200;
}
#first-number img
{
    height: 30px;
    opacity: 1;
}
#first-number
{
    font-size: 2em;
    position: absolute;
    opacity: 0;
    top: 200px;
    left: 14vw;
}
#second-number
{
    opacity: 0;
}

#save-click-reset-Buttons
{
    width: 13vw;
    position: relative;

}
/*clicker-section*/


#upgrades-buildings-section
{
    display: flex;
    gap: 0;
}
/*upgrades-section*/
input
{
    text-align: center;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: white;
    width: auto;
    font-size: 1.5em;
}
#upgrades
{
    display: flex;
    flex-direction: row;
    height: auto;
    width: 16vw;
    border: 5px solid rgba(0, 0, 0, 0.4);
    padding: 10px;
}
#buildings
{
    display: flex;
    flex-direction: row;
    height: auto;
    width: 16vw;
    border: 5px solid rgba(0, 0, 0, 0.4);
    padding: 10px;
}
#cost-amount-AutoClicks
{
    display: none;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    color: white;
    position: absolute;
    width: 13vw;
    height: auto;
    background-color: rgba(250, 250, 250, 0.3);
    border: 5px solid rgba(0, 0, 0, 0.4);
}
a:hover + #cost-amount-AutoClicks
{
    display: block;
}
#cost-amount-UpgradedCPU
{
    display: none;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    color: white;
    position: absolute;
    width: 13vw;
    height: auto;
    background-color: rgba(250, 250, 250, 0.3);
    border: 5px solid rgba(0, 0, 0, 0.4);
}
a:hover + #cost-amount-UpgradedCPU
{
    display: block;
}
#cost-amount-BroughtPC
{
    display: none;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    color: white;
    position: absolute;
    width: 13vw;
    height: auto;
    background-color: rgba(250, 250, 250, 0.3);
    border: 5px solid rgba(0, 0, 0, 0.4);
}
a:hover + #cost-amount-BroughtPC
{
    display: block;
}
#upgradesBg
{
    /*background-color: rgba(200, 200, 200);*/
    transition: 0.5s;
}
#upgradesBg:hover
{

}


#autoClicksImg
{
    height: 40px;
}
#upgradedCPUImg
{
    height: 40px;
}
#broughtPCImg
{
    height: 40px;
}

/*updates-section*/

/*desktop-window*/

#desktopWindow
{
    margin-top: 10vh;
    position: relative;
    border: 2px solid black;
    width: 35vw;
    height: 30vh;
    background-image: url(imgs/browsers/Unbenannt1.gif);
    background-size: cover;
    background-repeat: no-repeat;   
    opacity: 1;
    transition: 0.5s;
    background-color: #fff;
}


/*desktop-window*/

/*city*/

#city
{
    border: 2px solid black;
    margin-top: 10vh;
    width: 20vw;
    height: 17vh;
    background-image: url(imgs/background/city/city2.gif);
    background-size: cover;
    background-repeat: no-repeat;
}
/*city/*

/*achievement*/

#achievement-container
{
    display: none;
}


/*achievement*/

/*message*/

#message
{
    padding-left: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    background-size: bottom;
    height: 50px;
    width: 30vw;
    margin-left: 50px;
    margin-bottom: 100px;
}
/*message*/
