@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montagu+Slab:wght@100;300;600&family=Zen+Kurenaido&display=swap');

/*cursos blink*/
@keyframes cursor-blink {
    0% {
        opacity: 0;
      }
  }
/*cursos blink*/

/*body*/
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
   
}
/*body*/

/*nav bar*/

.flex
{
    display: flex;
    gap: var(--gap, 1rem);
}
.logo
{
    height: 40px;
    margin: 2rem;
    margin-bottom: 1rem;
}
.primary-header
{
    background-color:rgb(22, 22, 22);
    align-items: center;
    justify-content: space-between;
}

.primary-navigation
{
    list-style: none;
    margin: 0;
    padding-block: 2rem;
    padding-inline: clamp(3rem, 10vw, 10rem);
    --gap: 2em;
    position: fixed;
    inset: 0 0 0 30%;
   
    flex-direction: column;
    z-index: 1000;
    padding: min(30vh, 10rem) 2em;
    transform: translateX(100%);
    transition: transform 350ms ease-out;
}
.primary-navigation a 
{
    text-decoration: none;
    color: #fff;
}
.primary-navigation a > [aria-hidden="true"]
{
    font-weight: 700;
    margin-inline-end: 0.75em;
}
.primary-navigation[data-visible="true"]
{
    transform: translateX(60%);
}
.mobile-nav-toggle
{
    position: fixed;
    background-image: url("imgs/nav/menu.png");
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: cover;
    border: none;
    width: 2rem;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
    z-index: 9999;
}
.mobile-nav-toggle[aria-expanded = "true"]
{
    background-image: url("imgs/nav/close.png");
}


@supports (backdrop-filter: blur(1rem)) 
{
    .primary-navigation
    {
        background: hsl(0 0% 40% / 0.1);
        backdrop-filter: blur(2rem);
    }
}
/*nav bar*/


section
{
    padding:100px;
    min-height: 100vh;         /*every section has 100% height this way*/
}

/*banner*/
.banner 
{
    background-color:rgb(22, 22, 22);
    position:relative;
    width: 100%;
    min-height: 100vh;
}

.banner .imgSidebar
{
    position:absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 100%;
}
.banner .imgSidebar img
{
    position:absolute;
    top: 0;
    /*Setting top: 0; left: 0; bottom: 0; right: 0; gives the browser a new bounding box for the block.
     At this point the block will fill all available space in its offset parent, which is the body or position: relative; container*/
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.banner .contentBx 
{
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 500px); /*The rest of the width space will be filled*/
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.logoText
{
    position: absolute;
    top: 40px;
    left: 10px;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.banner .contentBx h4 
{
    font-size: 1.5em;
    color: #fff;
    font-weight: 300;
}

.banner .contentBx h2 
{
    font-size: 3em;
    color: #fff;
    line-height: 1em;
}

p
{
    color: #fff;
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: 300;
}

/*banner*/

/*button*/
.btn 
{
    border: 1px solid #fff;
    border-radius: 100px;
    color: #fff;
    padding: 10px 30px;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
    transition: 0.5s;
}
.btn:hover 
{
    background-color: #fff;
    color:rgb(22, 22, 22);
}
/*button*/

/*social media links*/
.sci
{
    position: absolute;
    left: 1px;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sci li a {
    text-decoration: none;
}
.sci li a span {
    font-weight: 900;
    font-size: 30px;
    color: black;
}

.sci li
{
    margin-right: 10px;
    list-style: none;
}

.sci li img 
{
    transform: scale(0.5);
    opacity: 0.7;
    transition: 0.5s;
}

.sci li img:hover
{
    transform: scale(0.7);
    opacity: 1;
}



/*social media links*/

/*about*/

.about 
{
    background-color:rgb(22, 22, 22);
}
.about .content-about
{
    display:flex;
    justify-content: space-evenly;  
}
.title 
{
    width: 100%;
    text-align: center;

}
.title h2 
{
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 1.8em;
    font-weight: 700;
    letter-spacing: 1px;
}

.title p
{
    max-width: 700px;
    display: inline-block;
    color: #fff;
}

.title h2::before
{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    width: 60px;
    height: 4px;
    background-color: rgb(255, 255, 255);
}


.imgBx
{   
    height: 200px;
    width: 200px;   
}
.imgBx img 
{
    height:100%;
    width:100%; 
}

.details-about h1 
{
    font-size: 1.5em;
    font-weight: 400;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
}


.details-about li
{
    list-style-type: none;
    font-size: 1.5em;
    font-weight: 400;
    padding: 20px;
    color: #fff;
}

.content-about
{
    padding-top: 100px;
}

.details-about li span 
{
    font-size: 1.7em;
    font-weight: 500;
    color: rgb(255, 255, 255);
    letter-spacing: 3px;
}


.cursorbl
{
    height:20px;
    width:5px;
    background-color:#fff;
    display: inline-block;
    animation: cursor-blink 1.5s steps(2) infinite;   
}
/*about*/

/*skills*/
.skills 
{
    background-color: rgb(22, 22, 22);

}

.inner-skills
{
    padding-top: 20px;
}

.container-skills 
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    font-size: 1.2rem;
}
.box-skill
{
    padding: 1rem;
    color: #ddd;
    cursor: pointer;
}

.title-skill
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
}
.title-skill:after
{
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 20px;
    height: 4px;
    border-radius: 2px 0 0 2px;
    background-color: #fff;
    transition: .5s;

}
.title-skill:before
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 20px;
    height: 4px;
    border-radius: 0 2px 2px 0;
    background-color: #fff;
    transition: .5s;
    
}
.title-skill h3
{
    color: #fff;
    margin-top: 0.5rem;
}
.icon-skill
{
    width: 50px;
}
.img-skill img 
{
    width: 90px;
    height: 90px;
    position: relative;
    border: 1px solid #fff;
    border-radius: 45px;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.img-skill img:hover
{
    background-color:#fff;
    transform: scale(1.2);
}


/*Landscapes Slideshow*/
.landscape-slideshow
{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(22, 22, 22);
}
.landscape-slider
{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    
}

.landscape-slides
{
    width: 500%;
    height: 500px;
    display: flex;
}
.landscape-slides input 
{
    display: none;
}
.landscape-slide
{
    width: 20%;
    transition: 2s;
}
.landscape-slide img 
{
    width: 850px;
    height: 400px;
}
.landscape-navigation-manual
{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.landscape-manual-btn
{
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.landscape-manual-btn:not(:last-child)
{
    margin-right: 40px;
}
.landscape-manual-btn:hover
{
    background-color: #fff;
}

#landscape-radio1:checked ~ .first
{
    margin-left: 0;
}
#landscape-radio2:checked ~ .first
{
    margin-left: -20%;
}

#landscape-radio3:checked ~ .first
{
    margin-left: -40%;
}

.landscape-navigation-auto
{
    position: absolute;
    display: none;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}
.landscape-navigation-auto div 
{
    border: 2px solid #fff;
    border-radius: 10px;
    transition: 1s;
}
.landscape-navigation-auto div:not(:last-child)
{
    margin-right: 40px;
}
#landscape-radio1:checked ~ .landscape-navigation-auto .landscape-auto-btn1
{
    background: #fff;
}
#landscape-radio2:checked ~ .landscape-navigation-auto .landscape-auto-btn2
{
    background: #fff;
}
#landscape-radio3:checked ~ .landscape-navigation-auto .landscape-auto-btn3
{
    background: #fff;
}

/*Landscapes Slideshow*/
/*Gallery*/

.gallery
{
    background-color: rgb(22, 22, 22);
}
.gallery-container
{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;   
}
.gallery-container img
{
    width: 20vw;
    opacity: 0.7;
    transition: 0.5s;
}
.gallery-container img:hover
{
    opacity: 1;
}
/*Gallery*/


/*media*/
@media (max-width: 1300px)
{
    .gallery-container
    {
        grid-template-columns: auto auto; 
    }
}
@media (max-width: 900px)
{
    section 
    {
        height: auto;
    }
    .primary-navigation
    {
        --gap: 2em;
        position: fixed;
        inset: 0 0 0 30%;
       
        flex-direction: column;
        z-index: 1000;
        padding: min(30vh, 10rem) 2em;
        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }
    .primary-navigation[data-visible="true"]
    {
        transform: translateX(0%);
    }
    .mobile-nav-toggle
    {
        
        position: fixed;
        background-image: url("imgs/nav/menu.png");
        background-repeat: no-repeat;
        background-color: transparent;
        background-size: cover;
        border: none;
        width: 2rem;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
        z-index: 9999;
    }
    .mobile-nav-toggle[aria-expanded = "true"]
    {
        background-image: url("imgs/nav/close.png");
    }
    .banner .imgSidebar
    {
        display: none;
    }
    .banner .contentBx
    {
        width: 100%;
        padding: 40px;
    }

    
    .logoText {
        display: none; /*new*/
        position: absolute;
        top: 40px;
        left: 40px;
    }
    .sci
    {
        text-align: center;
    }
    .about .content .textBx
    {
        min-width: 100%;
        width: 100%;
    }
    .about .content
    {
        flex-direction: column;
        margin-top: 0;
    }
    .details-about li span 
    {
        display: none;
    }
    .imgBx img
    {   
        display: none;
    }
    .container-skills
    {
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem 50px;
    }
    .landscape-slider img
    {
        width: 100%;
        height: auto;
    }
    .landscape-navigation-manual
    {
        width: 100%;
    }
    .gallery
    {
        width: 100%;
    }
    .gallery-container img
    {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 650px)
{
    .container-skills
    {
        grid-template-columns: 1fr;
    }
    .gallery-container
    {
        grid-template-columns: auto; 
    }
}
@media (max-width: 650px)
{
    .container-skills
    {
        grid-template-columns: 1fr;
    }
    .gallery-container
    {
        grid-template-columns: auto; 
    }
}



/*media*/







